<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="container">

  <div class="row">
    <div class="col-md-6">
      <h1>Movie list:</h1>
      <ul class="list-group">
        <li class="list-group-item"  *ngFor="let movie of movieList" >
          {{ movie.Title + " " + movie.Year }}
          <button type="button" (click)="navigateToPoster()">Poster</button>
        </li>
      </ul>
    </div>
    <router-outlet></router-outlet>
<!--    <app-movie-poster [moviePoster]="mavie"></app-movie-poster>-->

  </div>

</div>

