<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="container">

  <div class="row">
    <div class="col-md-6">
      <h1>Movie list:</h1>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let movie of movieList" (click)="getMovie(movie)">
          {{ movie.Title + " " + movie.Year }}
        </li>
      </ul>
    </div>
    <app-movie-poster [moviePoster]="mavie"></app-movie-poster>

  </div>
  <app-movie-plot [moviePlot]="mavie"></app-movie-plot>
</div>

